*{box-sizing: border-box;}
html { overflow-x: hidden; }
body{margin: 0;}
.container{
    max-width: 1170px;
    margin: 0px auto;
    }
.page-header{
 display:flex;
 justify-content:space-between;
 padding: 25px 0;
}
.wriper_header_item_menu{
    padding: 8px 0 6px 0;
}
.page-header-menu{
    display:flex;
    justify-content:space-around; 
    list-style: none;
}
.page-header-menu-item:not(last-child){
margin-right: 15px
}
.page-header-menu-link-active {
    background-color: rgb(255, 187, 66);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px;
}
.page-header-menu-link{
    color: rgb(134, 134, 134);
    text-transform: uppercase;
    font-family: Lato;
    font-weight: 200;
    text-decoration: none;
}
.logo_img_for_header{
    flex-shrink: 0;
}

.blu_color {
    background-color: rgb(112, 157, 202);
    padding-top: 110px;
    position: relative
}
.heading_blue_content {
    color: rgb(255, 255, 255);
    line-height: 1;
}
.main-heading_blue_content{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 1px;
    font-family: "Gotham - Black";
    letter-spacing: -0.88px;
}
.secondary-heading_blue_content {
    text-align: center;
    font-family: "Open Sans Light";
    font-size: 16px;
    padding-bottom: 33px;
}
.link-decorated{
    text-decoration: none;
    color: #ffffff;
}
.entry_field{
    display: flex;
    justify-content:center;
    position: relative;
}
.iput_and_img:not(last-child){
    margin-right: 10px;
     
}
.write_your{
    line-height: 35px; 
    padding-left: 50px;
    max-width: 100%;
    border:0;
    text-align: left;
    
}
.user_img{
    position: absolute;
    margin-left: 15px;
    margin-top: 11px;
    margin-bottom: 8px;
    max-width: 100%;
}
.click{
    border: none;  
    background-color: #ffbb42;
    text-transform: uppercase;
    padding: 0 43px;
}
.laptop_img{
    position: relative;
    top: 60px;   
    right: -30%;
    max-width: 40%;
   
 }
 .choose{
    padding-top: 65px;
    position: relative;
    text-align: center;
 }
 .our_services{
    font-size: 30px;
    line-height: 1;
    color: #394b50;
    font-family: "Gotham - Black";
    text-transform: uppercase;
    letter-spacing: -0.75px;
    text-align: center;
    padding-top: 105px;
    font-weight: bolder;
 }
 .our_services_text{
    font-size: 16px;
    font-family: "Open Sans";
    color: #394b50;
    text-align: center;
    line-height: 1;
    letter-spacing: -0.75px;
}
 .two-columns_our_services{
     display: flex;
     padding-top: 90px;
     padding-bottom: 155px;
 }
 .two-columns-item-content{
   margin-left: 40px;
 }
 
 .content-header{
    color: #394b50;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    padding: 25px 0;
    font-weight: 700;
 }  
 .content{
    position: relative;
    }
.small_img{
        position: absolute;
        top: 25px;
}
.content-wrapper{
    padding: 0 80px;
}
.content-texst{
    color: #7b7b7b;
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 1.5;
 }
 .about_us{
     display: flex;
}
.content_orange{
    flex-grow: 1;
    max-width: 50%; 
    align-items: stretch;
}
.wriper_about_us{
    margin: 0 auto;
   
}

.text_orange_fone{
    background-color: #ffc155;
    padding: 164px 200px 174px 80px;
    color: #ffffff;
}
.pict_orange_fone{
    display: flex;
}   
.big_img{
 max-width: 100%;  
}
.content-header_big{
    font-size: 21px; 
    text-transform: uppercase; 
    line-height: 1.5;
    letter-spacing: -0.8px;
    font-weight: bolder;
    padding-bottom: 10px;
}
.content-texst_about_us{
   
    font-size: 11px;
    line-height: 1.5;
    padding-bottom: 20px;

 }
 .click_about_us{
    border: 1px solid #e7ad48;
    background-color: #ffc155;
    padding: 8px 16px;
 }
 .about_us-button-link{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    padding: 8px 16px;
 }
 .header_price_cards{
    background-color: #e7edf3;
    padding: 137px 0 164px 0;
}
.header_price{
   line-height: 1;   
   text-align: center;
}
.choose_price{
    font-size: 30px;
   color: #394b50;
    font-family: "Gotham - Black";
   font-weight: bolder;
text-transform: uppercase;

}
.choose_price_text{
   font-family: "Lato Light";
   font-size: 18px;
   color: #75888d;
   letter-spacing: -0.75px;
   
}
.cards{
    display: flex;
    justify-content:center;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
    
}
.white_cards{
  padding: 50px 31px;
  background-color: #ffffff;
  border: 1px solid #ccd5df;
  margin-top: 79px;
  color: #818b95;
  flex-grow: 1;
  margin-bottom: 20px;
 }
.blue_cards{
padding: 87px 32px 95px 32px;
background-color:#709dca;
color: #ffffff; 
margin-top: 50px;
flex-grow: 1;

 }
 .card-heading{
    font-family: Lato;
    font-size: 20px;
    line-height: 1;
    padding-bottom: 30px;
    font-weight: normal;
 }
 .card_dollars{
    font-family: "Lato Light";
    font-size: 25px;
   line-height: 1;
   position: relative;
   right: 30px;
 }
 .bid_numb{
    font-family: "Lato";
    font-size: 40px;
    font-weight: bolder;
    line-height: 1;
    font-variant: small-caps;
    position: relative;
    bottom: 25px;

 }
 .small_lit{
    font-family: "Lato Light";
    font-size: 13px;
    line-height: 1;
    font-weight: normal;
    position: relative;
    bottom: 28px; 
 }
.blue_cards li{
    border-top: #8eb8e2 solid 1px;
    }
.color_bottom_for_white{
       border-top: #e2e9f0 solid 1px;  
    }
    ul{
        list-style: none;
     }
     li{
        padding: 16px 30px 16px 0;
     }
     .card-button{
        background-color: #ffbb42;
        border: none;
        padding: 16px 21px;

        
     }
     .card-button-link{
        text-decoration: none;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 1;
        font-weight: normal;
        padding: 16px 21px;
 }
.how_work_it{
    text-align: center;
    padding: 150px 0;
 }
 .header_content_decore{
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 1;
    color: #394b50;
    font-family: "Gotham - Black";
    }  
    .how_work_it_header_small{
        color: #394b50;
        font-size: 14px;
        font-family: "Lato Light";
        padding-bottom: 53px;
     }
     .wripper_seven_steps{
         display: flex;
         justify-content: center;
     } 
     .arrow{
         
        position: relative;
        
    } 
  .content-header_seven_colons{
        text-transform: uppercase;
        font-size: 15px;
        line-height: 1;
        font-weight: 700;
        padding: 102px 0 28px 0;
        color: #394b50;
     }
     .content-texst_seven_colons{
        color: #7b7b7b;
        font-family: "Open Sans";
        font-size: 13px;
        line-height: 1.5;
        letter-spacing: -0.75px;
        padding-bottom: 91px;
     }
     .small_img_logo_icon{
         margin-top:25px;
     }
     .small_img_logo_second{
        top:100px;
     }
     .two-columns_testimonial{
        background-color: #ffc155;
        padding-top: 141px;
        padding-bottom: 160px;
    }

.two-columns-item-heading{
    text-align: center;
    color: #ffffff;
    font-family: "Gotham - Black";
    font-size: 30px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -0.75px;
text-transform: uppercase;
}
.two-columns-item-heading_small{
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    line-height: 1;
    font-family: "Open Sans";
    letter-spacing: -0.75px;
    margin-bottom: 58px;
}
.two-columns-item-content_testimonials{
    display: flex;
    
}
.testimonial{
    flex-wrap: wrap;
    
}
.testimonial{
    background-color:  #ffffff;
    position: relative;
    padding: 51px 41px 51px 30px;
  
 }

  
.top_znak{
color: #7b7b7b;
font-family: "Brandon Grotesque";
font-size: 30px;
font-weight: 300px;
line-height: 1;
padding-right: 5px;
position: relative;
bottom: 5px;
}
.bottom_znak{
transform: scale(1, -1);
color: #7b7b7b;
font-family: "Brandon Grotesque";
font-size: 30px;
font-weight: normal;
line-height: 1;
transform: scale(1, -1);
position: relative;
top: 35px;
margin-right: 5%;
}

   .testimonial:not(last-child){
margin-bottom: 20px;
margin-right: 36px;
   }
.testimonial-avatar{
    position: absolute;
}
.testimonial-wrapper{
    padding-left: 152px;
}
.testimonial-comment{
    color: #7b7b7b;
font-family: "Open Sans";
font-size: 15px;
line-height: 1.5;
margin-bottom: 29px;
letter-spacing: -0.75px;
display: flex;
}
.testimonial-author{
    color: #f89b64;
font-family: Lato;
font-size: 14px;
line-height: 1;
text-transform: uppercase;
}
.who_is{
    color: #99a9ae;
}
.new_letter{
    text-align: center;
    padding: 154px 0 53px 0;
    color: #394b50;
    line-height: 1;
    letter-spacing: -0.75px;
}
.new_letter_header{
font-family: "Gotham - Black";
font-size: 30px;
font-weight: bold;

text-transform: uppercase;
}
.new_letter_text{
    font-family: "Open Sans Light";
    font-size: 16px;
    margin-bottom: 58px;
}
.entry_field_new_letter{
    display: flex;
    justify-content:center;
    position: relative;
}
.entry_field_new_letter_div:not(last-child){
    margin-right: 20px;
}
.write_your_new_letter{
    line-height: 35px; 
    padding-left: 50px;
    max-width: 100%;
    border: 1px solid #cbcbcb;
    text-align: left;}

    .user_img_new_letter{
    position: absolute;
    margin-left: 15px;
    margin-top: 11px;
    margin-bottom: 8px;
    max-width: 100%;
}
.click_new_letter{
    line-height: 35px;
    border: none;
    background-color: #ffbb42;
    color: #ffffff;
    text-transform: uppercase;  
}

.maps{
    height: 553px;
    
}

.maps_pict{
    position: relative; 
    border-bottom: 1px solid #e3e7ec; 
}
.circle_pict{
    position: relative;
    bottom: 93%;
    left: 35%;;
    
}
.logo_pict_maps{
    position: relative;
    left: 520px; 
    bottom:520px;
}
.tel_number{
    display: flex;
    justify-content:center;
}
.number{
color: #394b50;
font-family: "Lato";
font-size: 23px;
font-weight: 400px;
line-height: 1;
padding-left: 7px;
}
.number_pict{
    position: relative;
    top: 5px;
}
.social_resurs{
    display: flex;
    justify-content:center;   
}
.soc_img:not(last-child){
    margin-right: 17px;
}
.soc_img{
    margin-top: 25px;
    margin-bottom: 53px;
}
.page-footer{
    background-color: #709dca;
    padding: 17px 0 19px 0;
   
}
.page-footer-text{
    text-align: center;
}
.page-footer-text-item{
color: #ffffff;
font-family: "Open Sans";
font-size: 13px;
font-weight: 400px;
line-height: 1;

}
@media screen and (max-width: 980px){
 
.page-header{
display:flex;
flex-direction:column;
}
.page-header-menu{
  display:flex;
  flex-direction:column;
}
.header_logo_img{
    padding-left: 5%;
}
.blu_color{
   padding: 5%;
}

.entry_field{
 flex-direction:column;
 align-items:flex-start;
}
.iput_and_img{
margin-top: 2%;
margin-left: 5%;
}
.click{
    margin-top: 2%;  
    line-height: 35px;
    margin-left: 5%;
    }
.main-heading_blue_content{
text-align: left;
 }
 .secondary-heading_blue_content{
text-align: left;  
 }
 .two-columns_our_services{
    display: block;
}
.cards{
   max-width: 60%;
}
.two-columns-item-content_testimonials{
    display: block;}
.entry_field_new_letter{
    flex-direction:column;
    align-items:flex-start;
    }
    .entry_field_new_letter_div{
    margin-top: 2%;
    
    }
    .click_new_letter{
        margin-top: 2%;  
        line-height: 35px;
        
        padding: 0 50px;
        }
    .new_letter{
    text-align: left;
    margin-left: 5%;
}
.maps1{
    max-width: 100%;
}
.circle{
    max-width: 100%;
}
.circle_pict{
    left: 0;
  bottom: 70%;
}
.logo_pict_maps{
    left: 15%;
    bottom: 70%; 
}