*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.wraiper{
    margin: 0 auto;
    max-width: 500px;
    border: solid 1px #fcf8f8;
    background-color:#505050;
    padding: 50px;
}
.all_form{
border: solid 2px white;
font-size: 13px;   
}
form{
    padding: 20px 30px;
}
.header{
    padding: 10px 5px;
    border: 1px solid #4a4a4a;
    background: #4a4a4a;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5) inset ;
    text-align: center;
}
p{
    margin: 5px;
    color: white;
    font-size: 20px;
    line-height: 1;

   
}
.entry_field{
    position: relative;
    color: #fff;
    margin-top: 20px;
    position: relative;
    
}
.entry_field_icon{
    border-radius: 40px;
    background-color: blue;
    position: absolute;
    top:0;
    left: 0;
    height: 48px;
    width: 48px;
    text-align: center;

}
label{
    display: block;
}
svg{
    height: 25px;
    width: 25px;
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.write_your{
    max-width: 100%;
    color: #fff;
    width: 100%;
    padding: 0 20px 0 50px;
    line-height: 50px;
    border:0;
    background: #4a4a4a;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5) inset ;
}
.Sex{
    padding: 5%;
    text-align: left;
   
}

input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: #fffefe;
    
}
input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin: 2%;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="radio"] + label span {
     background-color:#4e4744;
     box-shadow: 0 0 10px rgba(0,0,0,0.5) inset ; 
}

input[type="radio"]:checked + label span{
     background-color:rgb(24, 23, 23);
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}


.Current{
   
    text-align: left;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
    color: #fffefe;
    
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin: 2%;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="checkbox"] + label span {
     background-color:#4e4744;
     box-shadow: 0 0 10px rgba(0,0,0,0.5) inset ; 
}

input[type="checkbox"]:checked + label span{
     background-color:rgb(24, 23, 23);
}

input[type="checkbox"] + label span,
input[type="checkbox"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}

 
select{ 
width: 100%;
padding: 5px;
background-color: #4a4a4a;
color: #ffffff; 
box-shadow: 0 0 10px rgba(0,0,0,0.5) inset ; 
} 
input.file{
    background-color:#4e4744;
}

.file-upload {
    position: relative; 
    overflow: hidden;
    background: #4a4a4a;
    padding: 20px 10px;
    margin-top: 5%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5) inset ; 
    text-align: center;
}
.file-upload:hover {
    background: #202020;
}
.file-upload input[type="file"]{
   display: none;
}
.file-upload label {

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.file-upload span {
    line-height: 36px; 
}
.commentar{
  padding: 0;
 border: 0;
border-radius: 30px;
margin-top: 20px;
}

    textarea{
        max-width: 100%;
        color: #fff;
        width: 100%;
        padding: 0 15px;
        border:0;
        background: #4a4a4a;
        border-radius: 30px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5) inset ;  
    }

    .click{
        border-radius: 30px;  
        background:blue;
        border: none;
        color: white; 
        font-size: 15px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        margin-top: 20px;
        padding: 3% 20% 3% 20%;
        width: 100%;
    }

 span{
text-align: center;
 }
 