@import './variables.scss';

.about-us {
    position: relative;
    background-color: $main-color;
    padding: 0;

    &__image {
        position: absolute;
        width: 50%;
        min-height: 100%;
        top: 0;
        left: 0;
        background: url('./../img/stol_stul.png') no-repeat center center;
    }

    &__right {
        padding-top: get_vw_size(150);
        padding-bottom: get_vw_size(160);
        margin-left: 50%;
        padding-left: get_vw_size(80);
    }

    @include scale(800) {
        &__image {
            width: 100%;
            z-index: 1;
        }

        &__right {
            position: relative;
            z-index: 2;
            background-color: rgba(0, 0, 0, 0.4);
            margin-left: 0;
        }
    }
}

.about-us-paragraf {
    text-align: left;

    &__about-head {
        padding-bottom: 28px;
    }

    &__about-text {
        line-height: 23px;
        font-size: 13px;
    }
}

.link-decorated {
    padding-top: 15px;
    padding-bottom: 15px;
}

.button-about-us {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #e7ad48;
}
