@import './variables.scss';

.content-seven-steps {
    padding-top: get_vw_size(155);
    padding-bottom: get_vw_size(150);
    text-align: center;

}

.seven-colons-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;

    @include scale(1000) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


.seven-colons {
    padding-top: 79px;
    position: relative;

    @include scale(1000) {
        padding-top: 0;
    }

    &__icon-colon {
        margin-top: get_vw_size(25);
        padding-bottom: get_vw_size(102);
    }

    &__header-colon {
        text-transform: $t-trasform;
        font-size: 15px;
        font-family: $lato-b;
        font-weight: bold;
        line-height: 1;
    }

    &__text-colon {
        line-height: 1.5;
        color: #7b7b7b;
        padding-bottom: 91px;
    }

}

.arrow-bottom {
    top: 100px;
    position: relative;

    @include scale(1000) {
        display: none;
    }
}

.arrow-top {
    position: relative;
    bottom: 30px;

    @include scale(1000) {
        display: none;
    }
}

.button-seven-steps {
    padding-top: 17px;
    padding-bottom: 19px;
}
