@import './variables.scss';

.new-letter {
    padding-top: get_vw_size(154);
}

.section-input-wrapper {
    display: flex;
    justify-content: center;
}

.location {
    background-image: url(../img/maps.png);
    padding-top: get_vw_size(98);
    padding-bottom: get_vw_size(220);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
