@import './variables.scss';

.slider {
    &__screen {
        position: relative;
        max-width: get_vw_size(647);
        min-width: get_vw_size(647);
        min-height: get_vw_size(343);
        background: url('./../img/Vector_Smart_Object.png') no-repeat;
        background-size: cover;
    }

    &__image {
        position: absolute;
        top: get_vw_size(18);
        left: get_vw_size(102);
        width: 100%;
        max-width: get_vw_size(445);
    }

    &__direction {
        $direction: &;

        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        width: get_vw_size(80);

        &-icon {
            position: absolute;
            bottom: get_vw_size(190);
            color: white;
            font-size: 35px;
        }

        &_left {
            left: 0;

            #{$direction}-icon {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &_right {
            right: 0;

            #{$direction}-icon {
                right: 50%;
                transform: translateX(50%);
            }
        }
    }

    &__controls {
        max-width: get_vw_size(647);
        padding: get_vw_size(24);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__control {
        cursor: pointer;
        width: 15px;
        height: 15px;
        border: 2px solid #252525;
        border-radius: 50%;
        margin: 0 5px;
       
    &_active {
            border-color: #1ca8dd;
        }
    }

}

.main-screen {
    position: relative;

    &__slider {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -(get_vw_size(490));
    }

}
