@import './variables.scss';

@font-face {
    font-family: $gotam; 
    src: url('./../fonts/GothamPro-Black.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $lato-b;
    src: url('./../fonts/Lato-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

 @font-face {
    font-family: $lato-p;
    src: url('./../fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $open-sans;
    src: url('./../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
   
* {
    box-sizing: border-box;
}

body {
    font-family: $open-sans;
    margin: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;

    @include scale(1000){
        max-width: 600px;
    }
}

@import './header.scss';
@import './section_heading.scss';
@import './bottom.scss';
@import './section_boost_up.scss';   
@import './cards.scss';
@import './contacts.scss';
@import './footer.scss';
@import './how_it_works.scss';
@import './news_letter.scss';
@import './our_services.scss';
@import './slaider.scss';
@import './testimonials.scss';
@import './about_us.scss';















