@import './variables.scss';

.testimonial-content {
    background-color: $main-color;
    padding-top: get_vw_size(141);
    padding-bottom: get_vw_size(160);
}

.testimonial-two-colons {
    display: flex;
    justify-content: space-between;
    padding-top: 58px;

    @include scale(1000) {
        flex-direction: column;

    }
}

.testimonial-left {
    padding-right: 18px;

    @include scale(1000) {
        padding-left: 18px;
    }
}

.testimonial-right {
    padding-left: 18px;

    @include scale(1000) {
        padding-right: 18px;
    }
}

.testimonial {
    background-color: $white;
    margin-bottom: 20px;
    padding: 51px 41px;
    text-align: left;
    color: $color-paragraf;
    position: relative;

    @include scale(1000) {
        flex-direction: column;
        align-items: center;
    }

    &__avatar {
        position: absolute;

        @include scale(1000) {
            position: static;
            padding-left: get_vw_size(150);
        }
    }
}

.testimonial-paragraph {
    padding-left: get_vw_size(150);

    &__comment {
        font-size: 15px;
        line-height: 1.5;
        letter-spacing: -0.75px;
        padding-bottom: 30px;
    }

    &__author {
        color: $main-color;
        font-family: $lato-b;
        text-transform: $t-trasform;
        font-size: 14px;
        line-height: 1;
    }
}

.speciality {
    color: #99a9ae;
}

.top-mark {
    font-size: 30px;
    font-weight: 300px;
    line-height: 1;
    padding-right: 5px;
    position: relative;
    bottom: 5px;
}

.bottom-mark {
    position: absolute;
    transform: scale(1, -1);
    font-weight: 300px;
    font-size: 30px;
    margin-left: 10px;
}
