@import './variables.scss';

.content-boost-up {
    background-color: rgb(112, 157, 202); 

    &__content { 
        padding-top: get_vw_size(110);
        padding-bottom: get_vw_size(347);
    }
}
