@charset "UTF-8";
@import url(c:\Users\Kate\Desktop\home-task\homework_7\use_flex\БЭМ\style_1.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0 15px;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
}

.page-header__wriper-header-item-menu {
  padding: 8px 0 6px 0;
}

.page-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.page-header__menu-item:not(last-child) {
  margin-right: 15px;
}

.page-header__menu-link:hover {
  background-color: #ffbb42;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px;
}

.page-header__menu-link {
  color: #868686;
  text-transform: uppercase;
  font-family: Lato;
  font-weight: 200;
  text-decoration: none;
}

.page-header__logo-img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.wriper-boost {
  background-color: #709dca;
  padding-top: 110px;
  position: relative;
}

.page-main-content__header {
  font-family: "Gotham -Black";
  font-size: 40px;
  font-weight: bold;
  font-line-height: 1;
  text-align: center;
  letter-spacing: -0.88px;
  text-transform: uppercase;
  color: #394b50;
}

.page-main-content__text {
  font-family: "Open Sans Light";
  font-size: 16px;
  font-line-height: 1;
  text-align: center;
  padding-bottom: 33px;
  color: #394b50;
}

.header-local-busines {
  color: white;
}

.link-decorated {
  text-decoration: none;
  color: white;
}

.page-main-content__wripper-input-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.page-main-content__wripper-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.page-main-content__icon {
  position: absolute;
  margin-left: 15px;
  margin-top: 10px;
}

.page-main-content__svg-icon {
  stroke: #7b7b7b;
  stroke-width: 2px;
  fill: #868686;
}

.page-main-content__wripper-input_icon:not(last-child) {
  margin-right: 10px;
}

.page-main-content__input {
  line-height: 35px;
  padding-left: 50px;
  max-width: 100%;
  border: 0;
  text-align: left;
}

.page-main-content__button {
  border: none;
  background-color: #ffbb42;
  text-transform: uppercase;
}

.page-main-content__button-link {
  padding: 0 43px;
  line-height: 35px;
}

.page-main-content__wripper_img-laptop {
  position: relative;
  top: 60px;
  right: -25%;
  max-width: 40%;
}

.page-main-content__radio {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 155px;
}

.page-main-content__wripper-two-colons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
  padding-bottom: 155px;
}

.two-columns-item-content {
  margin-left: 40px;
}

.page-main-content__two-columns-left {
  margin-right: 20px;
}

.page-main-content__two-columns-right {
  margin-left: 20px;
}

.page-main-content__our-services-icon-svg {
  height: 50px;
  width: 50px;
  stroke: #7b7b7b;
  stroke-width: 1px;
  fill: none;
}

.page-main-content__wripper-paragraph-header {
  color: #394b50;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
  padding: 25px 0;
}

.page-main-content__wripper-paragraph {
  padding: 0 80px;
}

.page-main-content__wripper-paragraph-text {
  color: #868686;
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 1.5;
}

.page-main-content__two-columns-about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-main-content__cards {
  background-color: #e7edf3;
  padding: 137px 0 164px 0;
}

.page-main-content__wriper-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.page-main-content__card_white {
  padding: 50px 31px;
  background-color: #ffffff;
  border: 1px solid #ccd5df;
  margin-top: 79px;
  color: #818b95;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 20px;
  position: relative;
}

.page-main-content__card_blue {
  padding: 87px 32px 95px 32px;
  background-color: #709dca;
  color: #ffffff;
  margin-top: 50px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.page-main-content__card-header {
  font-family: Lato;
  font-size: 20px;
  line-height: 1;
  padding-bottom: 30px;
  font-weight: normal;
}

.page-main-content__card-dollar {
  font-family: "Lato Light";
  font-size: 25px;
  line-height: 1;
  position: relative;
  right: 30px;
}

.page-main-content__card-price {
  font-family: "Lato";
  font-size: 40px;
  font-weight: bolder;
  line-height: 1;
  font-variant: small-caps;
  position: relative;
  bottom: 25px;
}

.page-main-content__card-text {
  font-family: "Lato Light";
  font-size: 13px;
  line-height: 1;
  font-weight: normal;
  position: relative;
  bottom: 28px;
}

.page-main-content__card-wripper-list {
  list-style: none;
}

.page-main-content__card-price_blue {
  border-top: #8eb8e2 solid 1px;
  padding: 16px 30px 16px 0;
}

.page-main-content__card-price_white {
  border-top: #e2e9f0 solid 1px;
  padding: 16px 30px 16px 0;
}

.page-main-content__seven-steps {
  padding: 150px 0;
}

.page-main-content__wripper-seven-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.page-main-content__header-seven-colons {
  color: #394b50;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 102px;
}

.page-main-content__text-seven-colons {
  color: #868686;
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 1.5;
}

.button-seven-steps {
  text-align: center;
}

.page-main-content__seven-colons-icon {
  margin-top: 25px;
}

.small_img_logo_second {
  top: 100px;
}

.page-main-content__seven-colons-icon-second {
  position: relative;
  top: 100px;
}

.page-main-content__seven-steps-button {
  text-align: center;
  padding: 50px 0;
}

.page-main-content__two-columns_testimonial {
  background-color: #ffc155;
  padding-top: 141px;
  padding-bottom: 160px;
}

.page-main-content__wripper-testimonial-two-colons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-main-content__testimonial {
  background-color: #ffffff;
  position: relative;
  padding: 51px 41px 51px 30px;
}

.page-main-content__top-znak {
  color: #7b7b7b;
  font-family: "Brandon Grotesque";
  font-size: 30px;
  font-weight: 300px;
  line-height: 1;
  padding-right: 5px;
  position: relative;
  bottom: 5px;
}

.page-main-content__bottom_znak {
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
  color: #7b7b7b;
  font-family: "Brandon Grotesque";
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  transform: scale(1, -1);
  position: relative;
  top: 35px;
  margin-right: 5%;
}

.page-main-content__testimonial:not(last-child) {
  margin-bottom: 20px;
  margin-right: 36px;
}

.page-main-content__testimonial-avatar {
  position: absolute;
}

.page-main-content__testimonial-wrapper {
  padding-left: 152px;
}

.page-main-content__testimonial-comment {
  color: #7b7b7b;
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 29px;
  letter-spacing: -0.75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-main-content__testimonial-author {
  color: #f89b64;
  font-family: Lato;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}

.page-main-content__autor-specifik {
  color: #99a9ae;
}

.page-main-content__new-letter {
  text-align: center;
  padding: 154px 0 53px 0;
}

.page-footer {
  background-color: #709dca;
  padding: 17px 0 19px 0;
}

.page-footer__text {
  text-align: center;
}

.ppage-footer__text-item {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400px;
  line-height: 1;
}
/*# sourceMappingURL=style.bm.css.map */