@import './variables.scss';

.about-bennet {
    background-color: #f7f7f7; 
    padding-bottom: get_vw_size(149);
    padding-top: 40px;
    position: relative;

    &::before {
        content: " ";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 40.5px 42px 40.5px;
        border-color: transparent transparent #ffffff transparent;
        position: absolute;
        top: 0;
        margin-left: 15%;
    }
}

.bennet-text {
    padding: 115px 110px 76px 97px;
    background-color: $white;

    &__header {
        color: $headcolor;
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 33px;

        @include scale(980) {
           text-align: center;
        }
    }

}

.text-component {
    display: flex;

    @include scale(980) {
        flex-direction: column;
        align-items: center;
    }

    &__text {
        font-size: 16px;
        color: $textcolor;
        padding-right: 111px;
        line-height: 1.5;
        letter-spacing: 1.3px;

        @include scale(980) {
            padding: 0;
            text-align: center;
            margin-bottom: 10px;
        }
    

   }

    &__icon {
        padding-right: 34px;
        display: flex;
        align-items: center;
        border-right: solid 1px #efefef;
    }

    &__icons {
        padding: 21px 24px;
    }
}

.icons-component {
    display: flex;

    &:not(:last-child) {
        margin-bottom: 15px;
    }
   
}