@import './variables.scss';

.about-section {
    padding-bottom: $sectionpadingbottom;
    padding-top: $sectionpaddingtop;
    
}

.about-us {
    display: flex;
    justify-content: center;
    position: relative;



    &__image-fon {
        @include scale(900) {
        max-width: 100% ;
        }
    }


    &__content {
        padding-top: get_vw_size(110);
        padding-bottom: get_vw_size(110);

        @include scale(900) {
            position: absolute;
            transition: all .3s ease-in-out;
            transform: translateX(-90%);

            &:hover {
                transform: translateX(0%);
            }
        }
    }

    &__border {
        display: flex;
    }
}
   


.about-content {
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background-color: $white;
    transform: translateX(-10%);
    position: relative;

    @include scale(900) {
        transform: none;
        background: url(./../img/cap-cofee/cap-coffee.jpg) no-repeat center center;
        background-size: cover;
        color: $white;
        
        &::before {
            content: " \21D4 ";
            font-size: 50px;
            position: absolute;
            right: 0 ;
            margin-right: 10px;
            margin-left: 10px;
            top: 40%;
        }
    }

    &__header {
        font-family: $title;
        font-size: 43px;
        font-weight: bold;
        color: $headcolor;
        padding: 94px 83px 0 83px;

        @include scale(900) {
            color: $white;
         }


        @include scale(600) {
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 20px;
        }
    }

    &__text {
        color: $textcolor;
        font-size: 15px;
        padding-bottom: get_vw_size(151);
        padding: 0 83px 106px 83px;

        @include scale(900) {
            color: $white;
        }

        @include scale(600) {
            padding: 0 20px 10px 20px;
        }
    }
}

.border {
    min-width: get_vw_size(140);

        @include scale(900) {
            display: none;
            
        }
    }

.number {
    opacity: 0.2;
    color: $numbercolors;
    font-size: get_vw_size(199);
    font-weight: bolder;
    position: absolute;
    top: -10px;
    left: 0;
 }
    