@import './variables.scss';

.awesomeness {
    background: url(./../img/movi/background_image.png) no-repeat center center;
    padding-top: get_vw_size(148);
    padding-bottom: get_vw_size(151);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;


    &__header {
        font-size: 31px;
        font-weight: bold;
        padding-bottom: 33px;
    }

    &__icon {
        padding-bottom: 41px;
    }
}   