@import './variables.scss';

.get {
    background-color: #cccccc;
    padding-bottom: get_vw_size(126);

}

.get-form {
    padding-top: 78px;
    padding-bottom: get_vw_size(149);
    display: flex;
    flex-direction: column;

    &__wrapper-input {
        margin-bottom: 25px;

        @include scale(600) {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 0;
        }

    }

    &__text {
        text-align: center;
        padding: 20px 0;
        width: get_vw_size(360);
        border: none;
        border-radius: 3px;

        &:not(:last-child) {
            margin-right: 30px;

            @include scale(600) {
                margin-right: 0;

            }
        }

        @include scale(600) {
            margin-bottom: 10px;
            padding: 10px 0;

        }
    }

    &__comment {
        padding-top: 20px;
        height: get_vw_size(200);
        text-align: center;
        border: none;
        border-radius: 3px;
    }

    &__button {
        text-align: center;
        padding-top: 51px;
    }
}

.get-button {
    padding: 19px 34px;
    cursor: pointer;
    background-color: $red;
    text-transform: uppercase;
    color: $white;
    border: none;
    border-radius: 25px;
}

.footer {
    background-color: #3f4049;
    display: flex;


    @include scale(600) {
        flex-wrap: wrap;

    }


    &__content {
        padding: 60px;

        @include scale(600) {
            padding: 20px;
        }
    }

    &__header {
        margin-bottom: 37px;
    }

    &__text {
        color: $white;
    }

    &__icon {

        &:not(last-child) {
            margin-right: 5px;
        }
    }

}

.footer-logo {
    color: $white;
    margin-top: 30px;
}
