@import './variables.scss';

.our-focus {
    background-color: $fonecolors;
    padding-bottom: $sectionpadingbottom;
}

.cards {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    margin-right: get_vw_size(150);
    margin-left: get_vw_size(150);

    @include scale(950) {
        flex-direction: column;
        align-items: center;
        margin-right: get_vw_size(350);
        margin-left: get_vw_size(350);
    }
}

.card {
    padding: 66px 33px;
    background-color: $white;
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;

    @include scale(980) {
        margin-top: 20px;
    }


    //&:not(:last-child) {
    // margin-right: 30px;

    //@include scale(980) {
    //margin-right:0; 

    // }
    //}

    &__icon {
        margin-bottom: 32px;
    }

    &__header {
        color: $headcolor;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 32px;
    }

    &__text {
        font-size: 15px;
        color: $textcolor;
        line-height: 1.5;
    }

}
