@import './variables.scss';

.our-team{
    background-color: $fonecolors; 
}

.team-cards {
padding-top: 78px;
display: flex;
justify-content: space-between;

@include scale(900) {
    flex-wrap: wrap;
    justify-content: space-around;
}

}

.team-card {
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 22px;
    margin-bottom: 9px;

    &__autor {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 13px;
        margin-top: 17px;

    }

    &__position {
        font-size: 14px;
        
    }

}



