@import './variables.scss';

.logo {
    font-family: $logo;
    color: #616161;
    font-size: 35px;
    line-height: 1;
    font-weight: bold;

     &__active-letter {
     color: #fc5f45;
     }
}

.page-header {
    display: flex;
   

}