@import './variables.scss';

.section-header {
padding-top:get_vw_size(148);
position: relative;
display: flex;
flex-direction: column;
align-items: center;


 &__main {
  font-family: $title;
  font-size: get_vw_size(40);
  color: $headcolor;
  font-weight: bold;
  margin-bottom: 39px;
 }

 &__secondary {
     font-size: 19px;
     color: $textcolor;
 }

 &__number {
    opacity: 0.3;
    color: $numbercolors;
    font-size: get_vw_size(256);
    font-weight: bold;
    position: absolute;
    top: -10px;
   
 }

}



//color border and text
.borderred {
    border: solid 3px $red;
}

.borderredbottom {
    border-bottom: solid 3px $red;
}

.bordergreen {
    border: solid 3px $green;
}
.bordergreenbotton {
    border-bottom: solid 3px $green;
}


.borderpurple {
    border: solid 3px $purple;
}

.borderpurplebottom {
    border-bottom: solid 3px $purple;
}

.borderorange {
    border: solid 3px $orange;
}

.borderorangebottom {
    border-bottom: solid 3px $orange;
}

.textred {
 color: $red;
}
.textgreen {
    color: $green;
}
.textpurple {
    color: $purple;
}
.texorange {
    color: $orange;
}