@import './variables.scss';

@font-face {
    font-family: $title;
    src: url('./../fonts/libre-baskerville-v5-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $poppins;
    src: url('./../fonts/Poor-Story-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $logo;
    src: url('./../fonts/WisdomScriptAJ.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $sacramento;
    src: url('./../fonts/╨б╨░╨║╤А╨░╨╝╨╡╨╜╤В╨╛.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $poppinsmedium;
    src: url('./../fonts/Poppins-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: $poppins;
    margin: 0;
    line-height: 1;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

@import './page-menu.scss';
@import './we-design.scss';
@import './about-us.scss';
@import './section-header.scss';
@import './our-focus.scss';
@import './awesomeness.scss';