@import './variables.scss';

.testimonials {
    background: url(./../img/testimonial/background.jpg) no-repeat center center;
    background-size: cover;
}


.main_light {
    color: $white;
 }

.number_light {
    color: #2b2b2c;  
}


.testimonial {
    padding-top: 79px;
    padding-bottom: get_vw_size(152); 
    display: flex; 
    position: relative;

    @include scale(980) {
        justify-content: center;}


    &__content {
        position: relative;

        @include scale(500) {
         position: absolute;
         top:30px;
        }
 }

}



.testimonial-text {
    background-color: white;
    padding: 0px 75px 39px 55px;
    position: relative;
    top: 25px;
    border-bottom: solid 3px $orange;

    &::before {
        content: "\201C";
        position: absolute;
        font-family: $title;
        font-size: get_vw_size(338);
        opacity: 0.3;
        top: 0;
        left: 0;
        color: $numbercolors
}

    @include scale(900) {
        padding-top: 40px;
        top: 7px;
       }

    @include scale(500) {
        padding: 10px;
        background: none;
        border: none;
        top: 50px;
     }

   &__text {
        font-size: 17px;
        color: $textcolor;
        line-height: 1.5;
        margin-bottom: 38px;
        padding-top: 40px;

        @include scale(500) {
            margin-bottom: 25px;
           }
       
        
    }

    &__signature {
        font-family: $sacramento;
        color: $nav-menu-color;
        font-size: 31px;
        padding-bottom: 24px;

        @include scale(500) {
            padding-bottom: 10px;
           }
    }

    &__autor {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 13px;

        @include scale(500) {
            margin-bottom: 5px;
            }
    }

    &__job {
        font-size: 13px;
        color: $orange;
    }
}

.radio {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 45px;

    @include scale(980) {
        justify-content: center;
    }

     &__radio {
       height: 15px;
       width: 15px;
       border: solid 1px $white;
       border-radius: 50%;

       @include scale(500) {
        margin-top: 15px;
        }
       
       &:not(:last-child) {
           margin-right: 5px;
       }
    
    }
}

.active {
    border-color: $orange;
    position: relative;

    &__radio-smoll {
        height: 9px;
        width: 9px;
        border: solid 1px $orange;
        background-color: $orange;
        border-radius: 50%;
        position: absolute;
        left: 2px;
        top: 1.5px;
    }
}


 

