$title: 'LibreBaskerville-Bold';
$poppins: 'Poppins-Regular';
$logo: 'wisdom';
$sacramento:'Sacramento-Regular';
$poppinsmedium: 'Poppins-Medium';
$nav-menu-color: #272727;
$white: #fff;
$button-color: #fc5f45;

@mixin scale($width, $diff: 'less') {
    $behaviour: max-width;
    $screen-width: $width;

    @if ($diff=='less') {
        $screen-width: $width - 1px;
    }

    @if ($diff=='self-above') {
        $behaviour: min-width;
    }

    @media screen and (#{$behaviour}: $screen-width) {
        @content;
    }
}

@function get_vw_size($size) {
    $screen: 1306;

    @return ($size /$screen) *100vw;
}

