@import './variables.scss';

.content-boost-up {
    background-color: rgb(112, 157, 202); 

    &__content { 
        padding-top: get_vw_size(110);
        padding-bottom: get_vw_size(347);
    }
    
}
.section-input-wrapper_blue {
    padding-top: 33px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section-input {
    position: relative;
    &__icon {
          position: absolute;
          width: 13px;
          height: 16px;
          margin-left: 15px;
          color: $icon-color;
          top: 17px;
    }

    &__input {
        width: 280px;
        height: 50px;
        margin-right: 10px;
        padding-left: 41px;
        
    }


}