@import './variables.scss';

.slider{
   
}
.image-wrapper {
    position: absolute;
    left: 25%;
    bottom: -15%;
    display: flex;
    justify-content: center;

}
.image-wrapper__laptop-people-image{
   
}