$Gotam: 'GothamPro-Black'; 
$lato-b:'Lato-Bold';
$lato-p:'Lato-Regular';
$open-sans:'OpenSans-Regular';
$color-heading: #394b50;
$t-trasform: uppercase;
$main-color: rgb(255, 187, 66);
 $nav-menu-color: #585656;
$text-decoration: none;
$icon-color: #6e6e6e;
$white: #ffffff;
$color-paragraf: #7b7b7b;


 @function get_vw_size($size) {
   $screen: 1311; 

  @return ($size /$screen) *100vw;
 }
   
@mixin white-cards{
   padding: 50px 31px;
   background-color: $white;
   border: 1px solid #ccd5df;
   margin-top: 79px;
   color: #818b95;
   flex-grow: 1;
   margin-bottom: 20px;
  }
 
  @mixin blue-card{
  padding: 87px 32px 95px 32px; 
  background-color:#709dca; 
  color: #ffffff; 
  margin-top: 50px; 
  flex-grow: 1; 
  }