*{box-sizing: border-box;
}
body{ 
    margin: 0;
}
.container{
max-width: 960px;
margin: 0 auto;

}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.link{
color: #00aeef;
text-decoration: none;
}

link:hover{
    text-decoration: underline;
}
.link-decorated::after{
    display: inline-block;
    content: '>>';
    margin-right: 5px;
}

.page-header{
    background-color: #333333;
   }
.page-header-logo{
    padding: 40px 0;
    display: inline-block;
    font-size: 55px;
    line-height: 1;
    color: #eee;
     
 }
 .page-header-menu{
    float: right;
    list-style-type: none;
    margin: 0;
    padding:0;
    margin-top: 70px;
 }

 .page-header-menu-item{
    display: inline-block;
   
 }

 .page-header-menu-item:not(:last-child)::after{
    content:'--';
    display: inline-block;
    content:'--';
    color: #eee;
    margin: 0 5 px;
     }
 
 .page-header-menu-link{
    text-decoration: none;
    color: #eee;
 }

.page-header-menu-link-active{
      color: #00aeef;

}
.page-header-menu-link:hover{
    color: #fff;
    text-decoration: underline;
}


section {
    border-bottom: dashed #eee 2px;
} 

.page-main-content{
    font-family: "Myriad Pro";
   }


.main-heading{
    color: #333333;
    font-size: 55px;
    line-height: 1;
    letter-spacing: -2.4px;
    font-weight: 700;
    padding-top:35px;
   
}
.main-heading-highlight{
    color: #00bff3;
}
 
.secondary-heading{
    color: #bbb;
    font-size: 45px;
    line-height: 1;
    letter-spacing: -1.2px;
    margin-top: 5px;
    padding-bottom: 30px;
}

section.text-info{
   padding-bottom: 35px;
   padding-top: 35px;
   
}
.text-info-title{
font-size: 35px;
line-height: 1;
color:#555;
letter-spacing: -1.5px;
margin: 0 1%;
}

section.cards{
    padding-bottom: 35px;
    padding-top: 35px;
}
.card {
    padding: 25px;
    float: left;
    max-width: 30%;
    background-color: #00aeef;
    
    
}
.card:not(:first-child){
    margin-left: 5%;
}

.card-heading{
    padding-bottom: 15px;
    border-bottom: 1px dashed #fff;
    text-align: center;
    font-size: 38px;
    line-height: 1;
    color: #fff;
}
.card-description{
    text-align: center;
    padding: 30px 0;
    font-size: 14px; 
    font-family: Arial;
    border: 0;
    color: #eee;
}

.card-button{
    border: 0;
    width: 100%;
    background-color: #0076a3;
    box-shadow: inset 0 0 5px rgba(35, 81, 98, 0.75);
    padding: 15px 0;
}
.card-button-link{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 5px;
    padding: 15px 30px;;
}


.two-columns-item{
    float: left;
    max-width: 50%;
}

.two-columns-item:not(:last-child){
    border-right: 2px dashed #cccccc;
}
.two-columns-item:not(:first-child){
    padding-left: 30px;
}
.two-columns-item-content{
    font-family: Arial;
}
.two-columns {
    padding-bottom: 30px;
}
.testimonial{
position: relative;
}

.testimonial ~ .testimonial {
    padding-top: 35px;
}
.two-columns-item-heading{
    color: #555555;;
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.96px;
    padding: 25px 0;
}
.testimonial-avatar{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #cccccc;
   
}
.testimonial-wrapper{
    padding-left: 106px;
    padding-right: 50px;
    
}
.testimonial-comment{
    padding-bottom: 15px;
    font-size: 14px;
    color: #555555;
    font-family: "Arial MT";
    color: #555555;
}
.testimonial-author{
    color: #555;
    font-size: 14px;
    line-height: 1.5;
    font-weight: bolder;
    
}
.testimonial-link{
    font-size: 14px;
}
.project-title{
    color: #888;
    padding-bottom: 10px;
    font-size: 10px;
    line-height: 1
   
}
.project-img{
    width: 100%;
max-width: 100%;
}
.project-title{
color: #888888;
font-family: "Arial MT";
font-size: 20px;
line-height: 1;
}
.project-description{
    color: #555;
    font-size: 14px;
    line-height: 1.5;
    padding: 5px 0;
}
.project-link{
font-size: 12px;
line-height: 1;
}
.page-footer-text{
    color: #888;
    font-size: 16px;
    line-height: 1;
    padding-top: 20px;
    padding-bottom: 20px;
}
.page-footer-text-item:not(:first-child)::before{
content: ' ~ ';
display: inline-block;
color: #888;
margin: 0 1px;}


   

@media screen and (max-width: 980px)
{
    body
    {font-size: 80%;}
    .page-header-menu{
    display: block;
    margin: 0;
    padding: 0;
    }
    .page-header-logo{
        text-align: right;
        font-size: 15px;
    }
   .page-header-menu-item::after{
       padding: 50px 0; 
    }
 .card{
        display: block;
        max-width: 80%;
        margin: 5%;
        padding: 5%;
        font-size: 20px;
        
        
        
    }
}